<form (submit)="search()">
    <div>
        <input name="topic" placeholder="Topic" [(ngModel)]="topic" [ngModelOptions]="{standalone: true}">
        <input type="submit" value="Search" />
    </div>
    <label> Filter by Language
    <select [(ngModel)]="languageFilter" [ngModelOptions]="{standalone: true}" (change)="changeLanguageFilter($event.target.value)">
        <option [selected]="true" value="">All</option>
        <option>Python</option>
        <option>Java</option>
        <option>Typescript</option>
        <option>Ruby</option>
        <option>Haskell</option>
        <option>C</option>
        <option>Javascript</option>
        <option>Go</option>
      </select>
    </label>
</form>



<span *ngFor="let lang of languageCounts$ | async">{{lang.language}}: {{lang.count}}, </span>

<table>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>Topics</th>
    </tr>
    <tr *ngFor="let repo of filteredRepos$ | async">
        <td><a [href]="repo.url">{{repo.name}}</a></td>
        <td>{{repo.author}}</td>
        <td>{{repo.description}}</td>
        <td>{{repo.topics.join(', ')}}</td>
    </tr>
</table>