<form (submit)="search()">
    <input name="topic" placeholder="Topic" [(ngModel)]="topic">
    <input type="submit" value="Search" />
</form>

<span *ngFor="let lang of languageCounts$ | async">{{lang.language}}: {{lang.count}}, </span>

<table>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>Topics</th>
    </tr>
    <tr *ngFor="let repo of repos$ | async">
        <td><a [href]="repo.url">{{repo.name}}</a></td>
        <td>{{repo.author}}</td>
        <td>{{repo.description}}</td>
        <td>{{repo.topics.join(', ')}}</td>
    </tr>
</table>