/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #effdff;
}
